---
import ItemExperiencia from "./ItemExperiencia.astro"

const EXPERIENCIA = [
{
    date: 'Junio 2024 - Actualidad',
    title: 'Desarrollador Web Freelancer',
    description: 'Me encargo de Realizar P치ginas Web para peque침as y medianas empresas por medio de p치ginas freelancer',
},
{
    date: 'Junio 2023 - Diciembre 2023',
    title: 'Asistente de una Consultora',
    description: 'Me encargaba de contactar con las cooperativas de Argentina para enviar mails y formularios sobre cursos y dem치s cosas de las que se encargaba la consultora',
}

]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">    
    {
        EXPERIENCIA.map(experiencia => (
            <li class="mb-10 ms-4">
                <ItemExperiencia { ...experiencia} />
            </li>
        ))
    }             
    
</ol>

