---
 const personalImageAlt = "Mauro Dordoni"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-cyan-500/90 dark:[&>p>strong]:text-cyan-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Mauro Dordoni pero mis amigos me llaman Chikito. Empecé en el
      muendo de la programación en el "Instituto Nuevo" con 17 años. Actualmente estoy <strong
        >trabajando de freelancer</strong
      >.
    </p>

    <p>
      Como creador de páginas web, <strong
        >Me enfoco en adaptar diseños ya creado o crear nuevos dependiendo las necesidades del cliente</strong
      >. Mi objetivo es brindarle el mejor servicio a pequeñas y medianas empresas a precios accesibles
    </p>
  </div>

  <img width="50" height="50" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>